<div class="header">
    <div class="logo">
        <img src="/assets/logo.png" height="60px">
    </div>
    <div class="search">
        <app-search-bar></app-search-bar>
    </div>
    <div class="user">
        <div class="user-profile">
                <img class="icon" src="/assets/user.png">
            {{userName}}
        </div>
        <div class="cart-profile">
                <img class="icon" src="/assets/cart.png">
            <span class="cart-value">{{dataShare.cartItemArr.length}}</span>
        </div>
    </div>
</div>