<div class="product-list">
    <div class="product-wrapper" *ngFor="let product of productListArray">
        <div class="product">
            <div class="item-discount" *ngIf="product.discount > 0">
                {{product.discount}}%
            </div>
            <img [src]="product.image" height="200px" width="200px">

            <div class="description">
                <div class="left">
                    <h2>{{product.title}}</h2>
                    <h4>{{product.brand}}</h4>
                    <p class="price">₹{{product.price.final_price}}</p>
                </div>
                <div class="right">
                    <div class="colour-box-container">
                        <div class="colour-box" [style.background-color]="product.colour.color"></div>
                    </div>
                    <button (click)="addToCart(product)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
