<div class="login-form-container">
    <form class="login-form" #f="ngForm">
        <div class="login-form-wrapper">
            <label for="uname"><b>Username</b></label>
            <input type="text" [(ngModel)]="model.userName" #userName="ngModel" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Enter Password" name="psw" required>

            <button type="submit" [disabled]="f.form.invalid" [ngClass]="{'enable-button': f.form.valid, 'disable-button':f.form.invalid }" (click)="loginCall()">Login</button>
            <div class="error-msg" *ngIf="errorMsg">{{errorMsg}}</div>
        </div>

    </form>
</div>
