.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 10%;
}
.checkbox-wrapper{
    display: inline-flex;
    padding: 1%;
}
.checkbox-wrapper label{
    padding-left: 6px;
}
.checkbox-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.selected{
    border: thick solid dodgerblue;
}
.colour-box{
    width: 20px;
    height: 20px;
    border: 1px solid silver;
    display: inline-flex;
}